<app-nav-bar></app-nav-bar>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div class="row">  
  <div class="col-md-7">
    <div>
      <h2>Cargar Actor</h2>
      <div>
        <label>Nombre:</label
        ><input class="form-control" [(ngModel)]="actor.nombre"/>
      </div>
      <div>
        <label>Apellido:</label
        ><input class="form-control" [(ngModel)]="actor.apellido" />
      </div>
      <div>
        <label>Fecha De Nacimiento:</label
        ><input
          type="date"
          class="form-control"
          [(ngModel)]="actor.fechaDeNacimiento"
        />
      </div>
      <div>
        <label>Genero:</label>
        <select class="form-select" [(ngModel)]="actor.sexo">
          <option value="NA">--Seleccione--</option>
          <option ngValue="1" value="Masculino">Masculino</option>
          <option ngValue="2" value="Femenino">Femenino</option>
        </select>
      </div>
      <div>
        <label>Nacionalidad:</label
        ><input class="form-control" [(ngModel)]="actor.nacionalidad"  disabled/>
      </div>
      <!--div>
        <label>Foto:</label
        ><input
          type="file"
          class="form-control"
          [(ngModel)]="photoUrl"
          (change)="handleImagen($event)"
          
          />
        </div-->
      <p>
        <a class="btn btn-success" type="submit" (click)="cargarActor()"
          >Guardar</a
        >
      </p>
    </div>
  </div>
  <div class=" col-md-5">
    <h4>
      <span class="text-primary">Seleccionar pais</span>
    </h4>
    <app-tabla-paises (selectedNationality)="handleSelectNationality($event)"></app-tabla-paises>
  </div>
</div>
